/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.5; font-weight: 300; color: #111; background-color: #fdfdfd; -webkit-text-size-adjust: 100%; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .site-header .site-title, .post-header, .highlight { margin-bottom: 16px; }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 14px; }

/** Lists */
ul, ol { margin-left: 32px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 300; }

/** Links */
a { color: #5e81c5; text-decoration: none; }
a:visited { color: #395b9e; }
a:hover { color: #111; text-decoration: underline; }

/** Blockquotes */
blockquote { color: #828282; border-left: 4px solid #e8e8e8; padding-left: 16px; font-size: 18px; letter-spacing: -1px; font-style: italic; }
blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: scroll; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Icons */
.icon > svg { display: inline-block; width: 16px; height: 16px; vertical-align: middle; }
.icon > svg path { fill: #828282; }

strong { font-weight: bold; }

.biggie { max-width: 900px; margin-right: auto; margin-left: auto; }
@media screen and (max-width: 900px) { .biggie { width: 100%; } }

.site-header { min-height: 56px; max-width: 225px; padding-right: 32px; padding-left: 32px; box-sizing: border-box; position: fixed; z-index: 999; background-color: #fdfdfd; border-right: 1px solid #e8e8e8; height: 100%; }
@media screen and (max-width: 700px) { .site-header { max-width: 836px; left: 0px; right: 0px; top: 0px; clear: both; } }
@media screen and (max-width: 400px) { .site-header { padding-left: 16px; padding-right: 16px; } }
@media screen and (max-width: 700px) { .site-header { border-bottom: 1px solid #e8e8e8; border-right: none; height: auto; } }
.site-header .site-title { font-size: 26px; line-height: 0.65; letter-spacing: -1px; float: right; margin-top: 57.1px; }
@media screen and (max-width: 700px) { .site-header .site-title { float: left; margin-top: 0px; } }
.site-header .site-title, .site-header .site-title:visited { color: black; }
.site-header .site-title:hover { text-decoration: none; }
@media screen and (max-width: 700px) { .site-header .site-title { line-height: 56px; margin-bottom: 0px; } }
.site-header .hamburger-icon, .site-header .menu-icon { margin-right: 0px; margin-top: 9px; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; border: 1px solid #e8e8e8; border-radius: 5px; }
.site-header .hamburger-icon > div, .site-header .menu-icon > div { width: 18px; height: 3px; margin: auto; background-color: #424242; border-radius: 2px; }
.site-header .hamburger-icon > div:nth-of-type(2), .site-header .menu-icon > div:nth-of-type(2) { margin: 3px auto; }
.site-header .menu-icon { display: none; cursor: pointer; }
@media screen and (max-width: 700px) { .site-header .menu-icon { display: block; } }
.site-header .menu-toggle { display: none; float: right; }
.site-header .site-menu { line-height: 56px; float: right; clear: both; }
.site-header .page-link { color: #111; line-height: 1.5; float: right; clear: both; display: block; padding-bottom: 12px; }
@media screen and (max-width: 700px) { .site-header .page-link { padding-right: 10px; } }
@media screen and (max-width: 700px) { .site-header .menu-toggle ~ .site-menu .page-link { padding-bottom: 0px; line-height: 0; font-size: 0px; transition: padding-bottom 0.5s, line-height 0.5s, font-size 0.5s; -o-transition: padding-bottom 0.5s, line-height 0.5s, font-size 0.5s; -moz-transition: padding-bottom 0.5s, line-height 0.5s, font-size 0.5s; -webkit-transition: padding-bottom 0.5s, line-height 0.5s, font-size 0.5s; }
  .site-header .menu-toggle:checked ~ .site-menu .page-link { padding-bottom: 12px; line-height: 1.5; font-size: 16px; } }

.page-content { padding-top: 32px; padding-left: 32px; padding-right: 32px; box-sizing: border-box; margin-left: 200px; }
@media screen and (max-width: 700px) { .page-content { margin-top: 56px; margin-left: 0px; width: 100%; } }
@media screen and (max-width: 400px) { .page-content { padding-left: 16px; padding-right: 16px; } }

.post-meta { color: #828282; }

.post-header * { margin-bottom: 0px; }
.post-header .post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; margin-top: 7.35px; margin-bottom: -7.35px; }
@media screen and (max-width: 700px) { .post-header .post-title { font-size: 36px; } }
.post-header .post-meta { padding-top: 16px; margin-bottom: -4px; }

.post-content h2 { font-size: 32px; }
@media screen and (max-width: 700px) { .post-content h2 { font-size: 28px; } }
.post-content h3 { font-size: 26px; }
@media screen and (max-width: 700px) { .post-content h3 { font-size: 22px; } }
.post-content h4 { font-size: 20px; }
@media screen and (max-width: 700px) { .post-content h4 { font-size: 18px; } }

.page-heading { font-size: 20px; }

.link-header * { margin-bottom: 0px; }
.link-header .post-meta { font-size: 14px; line-height: 1.71429; margin-top: -6px; }
.link-header .post-link { display: block; font-size: 24px; line-height: 1; margin-top: 4.2px; padding-bottom: 11.8px; }
.link-header .post-link, .link-header .post-link:visited { color: black; }

.post-list { margin-left: 0; list-style: none; padding-bottom: 0px; }
.post-list > li:not(:last-child) { margin-bottom: 32px; }

.social-buttons > div { float: left; position: relative; margin-bottom: 32px; }
.social-buttons .twitter-button { top: 4px; left: 16px; }

.site-footer { clear: both; margin-top: 32px; }
.site-footer .trademark { font-size: 8px; color: #828282; clear: both; }


.highlight { background: #fff; }

.searchword {
    background-color: yellow
}